.chats {
    height: 75vh;
    overflow-y: scroll;
    padding: 12px;
}
.chats::-webkit-scrollbar {
    width: 8px;
    background: rgba(204, 204, 204, .4);
    border-radius: 25px;
}
.chats::-webkit-scrollbar-track {
    width: 8px;
    border-radius: 25px;
    background: rgba(204, 204, 204, .4);
}
.chats::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 15px;
    background: rgba(255, 205, 0,1);
}