.chatRoom {
  width: 50%;
  margin: 2% auto;
  padding: 1%;
  background: rgba(255, 166, 0, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #000;
}

@media only screen and (max-width: 678px) {
  .chatRoom {
    width: 90%;
    margin: 5% auto;
  }
}
