* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
